<p id="notice"><%= notice %></p>

<h1>Listing Holidays</h1>

<%= form_tag holidays_path, :method => :get, class: 'get_country'  do %>
  <%= select_tag "set_country", options_from_collection_for_select(@countries, 'id', 'country'), 
  onchange: 'this.form.submit()' %>
  <%= select_tag "set_year", options_for_select((Date.today.year .. (Date.today.year+30)), selected: "#{Date.today.year}") %>
  <%= submit_tag 'submit' %>
  <%= javascript_tag "$('.get_country input').hide()" %>

<% end %>

<table class = "table table-striped"> 
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holiday_date.each do |holiday_date| %>
      <tr>
        <td><%= @holidays.find(holiday_date.holiday_id).name%></td>
        <td>Date: <%= @calender_dates.find(holiday_date.calender_date_id).calender_date %></td>
        <td>Country: <%= @countries.find(holiday_date.country_id).country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

